* { margin:0;
    padding:0;
}

html {
	height: 100%
}
body { 
	/*background:#171717; */
	background: #FFF;
	height: 100%;
}

#screen {
	width: 1024px;
	margin: auto;
	padding: 0;
	position: relative;
	min-height: 100%;
	background: rgb(247, 247, 247);
}

#header {
	height: 80px;
	width: 100%;
	position: relative;
}

#bar {
	background: #171717;
	height: 50px;
	border-radius: 20px;
}

div #menu {
	/*margin: 30px auto;*/
	width: 80%;
	height: 41px;
}

#content {
	min-height: 49%;
	padding-top: 15px;
	width: 100%;
}

.main {
	padding-top: 5px;
	width: 90%;
	margin: auto;
}

.form-row {
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
}

.form-row a {
	font: 13px Verdana;
	text-decoration-line: initial;
}

.form-cell {
	width: 33%;
	display: inline-block;
}

.form-title {
	color: #003600;
	display: block;
	font: bold 16px verdana;
	letter-spacing: 0.03em;
	line-height: 35px;
}

.form-cell input[type="text"] {
	display: block;
	width: 95%;
	height: 2em;
	border: 1px solid rgb(112, 116, 122);
}

.form-cell select {
	border: 1px solid rgb(112, 116, 122);
	display: block;
	height: 2em;
	position: absolute;
	width: 300px;
}


.form-cell textarea {
    border: 1px solid #70747A;
    display: block;
    height: 100px;
    width: 95%;
}


.form-cell input[type="checkbox"] {
	border: 1px solid;
	height: 20px;
	position: absolute;
	width: 30px;
}

.form-row-buttons {
    padding-top: 40px;
}

.table-area table {
    border-spacing: 0 5px;
    width: 100%;
}

div #copyright {
	width: 80%;
	margin: 0 auto;
	font: 11px 'Verdana, Times';
	color: #6b717c;
	text-indent:30px;
	padding:40px 0 0 0;
}

.table-area th {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font: 15px/30px Verdana;
    text-transform: uppercase;
}
.table-border-left {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.table-border-right {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.table-area td {
    font: 12px Verdana;
    padding-bottom: 5px;
}

.options-row {
    padding: 10px 0;
    text-align: right;
}

.option-cell {
    display: inline;
}

.option-cell-left {
	float: left;
}

.option-button {
	border : solid 1px #000000;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 14px;
	color : #ffffff;
	padding : 1px 17px;
	background : #5f6166;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f6166), color-stop(100%,#00060a));
	background : -moz-linear-gradient(top, #5f6166 0%, #00060a 100%);
	background : -webkit-linear-gradient(top, #5f6166 0%, #00060a 100%);
	background : -o-linear-gradient(top, #5f6166 0%, #00060a 100%);
	background : -ms-linear-gradient(top, #5f6166 0%, #00060a 100%);
	background : linear-gradient(top, #5f6166 0%, #00060a 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f6166', endColorstr='#00060a',GradientType=0 );
	line-height: 25px; 
}
.option-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.option-button:active {
	position:relative;
	top:1px;
}

/* End elements of content*/

/* Begin elements of footer*/

#footer {
	width: 100%;
	height: 150px;
	margin-top: 32px;
	position: absolute;
	bottom: 0;
}

/* End elements of footer*/


div#copyright a { color:#d7d2bc; }
div#copyright a:hover { color:#6b717c; }